<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
</head>
<body>
    <h1>Currently I am a Backend Engineer with 3+ years of commercial experience, but I’m excited to start a new path as an ML Engineer. I’m ready to step away from my current Middle+/Senior position because I no longer want to just use technology — I want to create it. Machine learning brings me closer to what I truly love: mathematics. And I'm already started to learn it by myself!</h1>
</body>
</html>